header{
    
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(90deg, #001B2F 0%, #005695 100%);

}
.boxLogo{
   width: 23vw;
   display: flex;
   align-items: center;
   justify-content: space-evenly;
   h1{
    color: white;
    font-size: 25px;
   }
}

.boxMenu{
   
    width: 35vw;
    ul{
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 20px;
        a{
            color: white;
        }
    }
}

.boxInput {
    border: solid 2px white;  /* Borda do campo */
    width: 17vw;              /* Largura do campo */
    margin-right: 20px;       /* Margem à direita */
    height: 6vh;              /* Altura do campo */
    display: flex;            /* Usar flexbox para alinhamento */
    align-items: center;      /* Alinhar itens ao centro */
    border-radius: 15px;      /* Bordas arredondadas */
    background-color: rgba(0, 0, 0, 0); /* Fundo levemente transparente */

    input {
        outline: none;        /* Sem contorno ao focar */
        background-color: transparent;  /* Fundo transparente */
        border: none;         /* Sem borda no input */
        color: white;         /* Cor do texto */
        font-size: 15px;      /* Tamanho da fonte */
        padding-left: 6px;    /* Padding à esquerda */
        width: 100%;          /* Preencher todo o espaço disponível */
        
        &::placeholder {
            color: white;      /* Cor do placeholder */
        }
    }

    button {
        background-color: transparent; /* Botão transparente */
        border: none;                  /* Sem borda no botão */
        cursor: pointer;               /* Cursor de ponteiro */
        margin-left: 10px;             /* Margem à esquerda para espaçamento */
        
        img {
            width: 20px;              /* Tamanho do ícone */
            height: auto;             /* Manter proporção */
        }
    }
}

@media(max-width: 1170px){

    .boxLogo{
        // border: solid 2px red;
        width: 25vw;
        h1{
            font-size: 2vw;
        }
        img{
            width: 5vw;
        }
    }
    .boxInput{
        input{
            &::placeholder{
                font-size: 1.1vw;
            }
        }      
    }

   .boxMenu{
    // border: solid 2px yellow;
    ul{
    font-size: 1.6vw;
    }
   } 

}

@media(max-width: 780px){
    header{
        flex-direction: column;
        height: 25vh;
        justify-content: space-evenly;
    }

    .boxInput{
        display: none;
    }

    .boxLogo{
        width: 80%;
        h1{
            font-size: 25px;
        }
        img{
            width: 70px;
        }
    }

    .boxMenu{
        width: 100%;
        ul{
            justify-content: space-evenly;
            font-size: 21px;
        }
    }
}