.banner {
    background-image: url('../../assets/banner.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 83vh;
    display: flex;
    align-items: center;

    h2 {
        color: white;
        // border: solid 2px red;
        width: 27vw;
        font-size: 40px;
        margin-left: 150px;
    }
}
.devoDoar {
    height: auto; /* Ajustar altura para auto */
    padding: 20px 0; /* Adicionar padding para espaçamento */

    div {
        height: auto; /* Ajustar altura para auto */
        display: flex;
        justify-content: center;
        align-items: center;

        h2 {
            font-size: 30px;
            margin: 0; /* Remover margem */
            color: rgba(0, 86, 149, 1);
        }
    }
}

.boxCard {
    display: flex;
    flex-wrap: wrap; /* Permitir quebra de linha */
    justify-content: space-evenly;
    gap: 20px; /* Espaçamento entre os cartões */
    padding: 20px; /* Adicionar padding para espaçamento */

    article {
        width: calc(20% - 20px); /* Ajustar largura com espaçamento */
        height: auto; /* Altura automática */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        background-color: rgba(1, 87, 148, 0.3);
        border-radius: 10px;
        transition: transform 0.3s ease, box-shadow 0.3s ease;

        &:hover {
            transform: translateY(-10px);
            box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
        }

        p {
            text-align: center;
            width: 70%;
            font-size: 20px;
        }
    }
}

// Media Queries for Responsiveness
@media(max-width: 1000px) {
    .boxCard article {
        width: calc(45% - 20px); /* Ajustar largura em telas menores */
    }
}

@media(max-width: 780px) {
    .devoDoar {
        height: auto; /* Ajustar para auto */
        padding: 10px 0; /* Reduzir padding para telas menores */

        div {
            height: auto; /* Ajustar altura automática */
        }
    }

    .boxCard {
        article {
            width: calc(100% - 20px); /* Ocupa 100% da largura em telas pequenas */
            height: auto; /* Altura automática */
        }
    }
}

@media(max-width: 479px) {
    .devoDoar {
        height: auto; /* Ajustar para auto */
    }

    .banner h2 {
        font-size: 24px; /* Reduzir o tamanho da fonte para telas menores */
        margin: 0; /* Remover margem */
        text-align: center; /* Centralizar texto */
    }
}