banner {
    background-image: url('../../assets/banner.png');
    background-repeat: no-repeat;
    background-size: contain;
    height: 88vh;
    display: flex;
    align-items: center;

    h2 {
        color: white;
        margin-left: 150px;
        font-size: 40px;
        width: 27vw;
        text-shadow: 2px 2px 4px rgba(245, 243, 243, 0.7); 
        transition: transform 0.3s ease;

        &:hover {
            transform: scale(1.05); 
        }
    }
}

.devoDoar {
    height: 80vh;

    div {    
        height: 15vh;
        display: flex;
        align-items: center;

        h2 {
            font-size: 30px;
            margin-left: 60px;
            color: rgba(0, 86, 149, 1);
        }
    }
}

.boxCard {
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    article {
        width: 20%;
        height: 80%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-evenly;
        background-color: rgba(1, 87, 148, 0.3);
        border-radius: 10px;
        transition: transform 0.3s ease, box-shadow 0.3s ease;

        &:hover {
            transform: translateY(-10px); 
            box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); 
        }

        p {
            text-align: center;
            width: 70%;
            font-size: 20px;
        }
    }
}

// Media Queries for Responsiveness
@media(max-width: 1000px) {
    .boxCard {
        article {
            p {
                font-size: 1.5vw;
            }
        }
    }
}

@media(max-width: 780px) {
    .devoDoar {
        height: 120vh;

        div {
            justify-content: center;

            h2 {
                margin-left: 0;
            }
        }
    }

    .boxCard {
        height: auto;
        flex-wrap: wrap;
        gap: 20px;

        article {
            width: 230px;
            height: 38vh;

            p {
                font-size: 14px;
            }
        }
    }
}

@media(max-width: 479px) {
    .devoDoar {
        height: 190vh;
    }

    banner {
        h2 {
            font-size: 24px; // Reduzir o tamanho da fonte para telas menores
            margin-left: 20px; // Ajustar o margin
            width: auto; // Remover a largura fixa
            text-align: center; // Centralizar texto
        }
    }
}